html {
  font-family: sans-serif;
  text-decoration: none;
  overflow-x: hidden;
}

h1 {
  text-align: left;
}

navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: indigo;
  color: White;
}

.nav-link, a {
  color: White;
  text-decoration: none;
  padding: 5px;
}

body {
  background-color: paleturquoise;
  width: 100%;
  padding-right: 20px;
  overflow-x: hidden;
}

@media (min-height: 500px) {
main  {
  margin-left: 50px;
  margin-right: 20px;
  margin-top: 50px;
}
}

#main-doc {
  display: table;
  width: 100%
  padding: 20px;
  justify-content: center;
  background-color: palegoldenrod;
}

#container {
  float: right;
  width: 75%
    }

aside {
  float: left;
  width: 25%
  font-size: 16px;
    }

table {
  border-collapse: collapse;
  border: 2px solid red;
  letter-spacing: 1px;
  font-size: 12px;
  background-color: white;
}

td, th {
  border: 1px solid pink;
  padding: 10px;
}

th {
  background-color: salmon;
}

td {
  background-color: honeydew;
  text-align: center;
}

.code {
  background-color: black;
  color: white;
  padding: 20px;
  margin-right: 20px;
  border-radius: 20px;
  text-align: inherit;
}

footer {
  background-color: indigo;
  color: White;
  text-align: end;
  padding: 10px;
}
